img {
    border-radius: 20%;
}

body {
    background-image: url('background.png');
    width: 1190px;
    height: 1190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(205, 177, 238, 0.514);
    font-size: larger;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    text-align: left;
}

table, th, td { border: 3px solid rgba(84, 20, 104, 0.712);
    text-align: center;
}

head {
    background-color: rgb(191, 143, 245);
    text-align: center;
}

footer {
    background-color: rgba(227, 166, 233, 0.911);
    
}

.bodyy {
    background-color: rgba(183, 144, 216, 0.445);
}

.footer {
    text-align: right;
}

header {
    display: flex;
    background-color: rgba(227, 166, 233, 0.911);
}
